/* .container {
  margin: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.hidden {
  display: none;
}

.card-group,
.card-groups,
.card {
  aspect-ratio: 5/7;
}

.card-group,
.card-groups,
.big-card {
  height: 40vmin;
}

.card-group {
  position: absolute;
}

.card {
  position: absolute;
  transition: transform 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}

.big-card,
.little-card {
  border: 2px solid #fff;
}

.big-card {
  border-radius: 1vmin;
  z-index: 1;
}

.little-card {
  height: 20vmin;
  border-radius: 2vmin;
  transform: translate(-0%, 50%);
}

.big-card:nth-child(2) {
  background-color: blue;
  transform: translateX(-10%) rotate(-1deg);
}

.big-card:nth-child(4) {
  background-color: #ccc;
  transform: rotate(2deg);
}

.big-card:nth-child(6) {
  transform: translateX(-6%) rotate(-3deg);
}

.big-card:nth-child(8) {
  background-color: yellow;
  transform: translate(10%, 0%) rotate(5deg);
}

.card-group:hover > .big-card:nth-child(2) {
  transform: translate(-75%, 16%) rotate(-24deg);
  z-index: 2;
}

.card-group:hover > .big-card:nth-child(4) {
  transform: translate(-25%, 8%) rotate(-8deg);
  z-index: 4;
}

.card-group:hover > .big-card:nth-child(6) {
  transform: translate(25%, 8%) rotate(8deg);
  z-index: 6;
}

.card-group:hover > .big-card:nth-child(8) {
  transform: translate(75%, 16%) rotate(24deg);
  z-index: 8;
}

.card-group:hover > .little-card:nth-child(1) {
  transform: translate(200%, -50%) rotate(-15deg);
  z-index: 10;
}

.card-group:hover > .little-card:nth-child(3) {
  transform: translate(160%, 170%) rotate(15deg);
  z-index: 10;
}

.card-group:hover > .little-card:nth-child(5) {
  transform: translate(-200%, -50%) rotate(15deg);
  z-index: 5;
}

.card-group:hover > .little-card:nth-child(7) {
  transform: translate(-160%, 170%) rotate(-15deg);
  z-index: 7;
}

.photo-describe {
  width: 28.6vmin;
  margin-top: 5vmin;
}

.photo-btn {
  margin-top: 8vmin;
  display: flex;
  justify-content: space-around;
}

.photo-btn button {
  font-size: 2.5vmin;
  border: 0.4vmin rgb(200, 200, 200);
  border-radius: 100%;
  padding: 2vmin;
  background-color: inherit;
  cursor: pointer;
}

.photo-btn button:hover {
  color: white;
  background-color: #2400b6;
}

@media screen and (max-width: 884px) {
  .container {
    height: auto;
  }
} */
