.contact-container {
  width: 90vw;
  min-width: 320px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 3px solid #fff;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 10vh;
}

.my-details {
  margin-top: 20px;
}

.my-details p {
  font-size: 16px;
}

h2,
h3 {
  color: #333;
}

.failure,
.success {
  background-color: salmon;
  color: #fff;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  border: 2px solid #333;
  margin-top: 30px;
}

.failure {
  background-color: salmon;
}

.success {
  background-color: rgb(41, 154, 71);
}

@media screen and (max-width: 400px) {
  .contact-container {
    margin: 0;
    padding: 0;
    border: none;
  }
}
