.bigNav {
  width: 90vw;
}

.bigNav ul {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.bigNav ul li {
  list-style: none;
}

.nav-item a {
  position: relative;
}

.nav-item a::after {
  content: "";
  width: 0;
  height: 3px;
  background: rgb(169, 72, 30);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.nav-item a:hover::after {
  width: 100%;
}

.nav-icon {
  font-size: 2rem;
}

.bigNav ul li:hover,
.nav-icon:hover {
  color: aliceblue;
}
