.mobile-nav {
  display: flex;
  position: relative;
  margin: auto;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  min-width: 300px;
}

.mobile-nav .title {
  font-size: 2rem;
  padding: 0;
}

.side-nav-toggle {
  border: 0;
  background-color: inherit;
}

.toggle-icon {
  font-size: 2rem;
}

.overlay {
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 200px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding-top: 20vh;
  background-color: black;
  color: #fdffe0;
}

.side-nav .toggle-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fdffe0 !important;
}

.side-nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 200px;
  height: 40vh;
}

.side-nav ul li {
  list-style: none;
}

.side-nav-link {
  font-size: 1.5rem;
}

.side-nav-socials {
  display: flex;
  gap: 15px;
}

.nav-icon {
  font-size: 1.5rem;
}
